#navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: aquamarine;
    align-items: center;
}

#form{
    width: 30%;
    padding: 20px;
    background-color: bisque;
    border: 1px solid teal;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form input{
    width: 80%;
    height: 30px;
    margin: 10px;
    
}

#form button{
    width: 30%;
    height: 30px;
    margin: 10px;
}